@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto Light', sans-serif;
  font-weight: 700;
}

.container {
  margin: auto;
  width: 1215px;
}

.button {
  padding: 17px 30px 23px;
  height: 58px;
  font-family: 'Roboto Light', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.button-black {
  background-color: #000000;
  color: #fff;
}

.button-white {
  background-color: #fff;
  color: #000000;
}

.button-white::after {
  content: ' ';
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/arrow.png) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
  margin-left: 10px;
}

.main_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main_links {
  position: relative;
  text-decoration: none;
  margin: 0 40px 0;
  font-size: 16px;
  color: #000000;
}

.main_links:hover {
  color: #000000;
}

.main_links-arrow::after {
  content: ' ';
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/arrow.png) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
  margin-left: 10px;
}

.main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_row {
  padding-top: 77px;
}

.main_row h2 {
  margin-bottom: 42px;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
}

.main_logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main_item {
  margin: 0 100px 0;
}

.left-block {
  padding-top: 100px;
}

.left-block h1 {
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 82px;
  color: #FF8A56;
}

.left-block h2 {
  margin-bottom: 34px;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 82px;
}

.left-block p {
  margin-bottom: 34px;
  font-family: 'Roboto Light', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #666666;
}

.service_title {
  margin-top: 70px;
  font-family: 'Roboto Light', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FF5E69;
}

.service_subtitle {
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 54px;
  line-height: 59px;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
}

.service_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service_card {
  width: 300px;
  margin-bottom: 70px;
}

.service_card h4 {
  margin-top: 39px;
  margin-bottom: 25px;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
}

.service_card p {
  margin-right: 50px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 28px;
  color: #666666;
  font-family: 'Roboto Light', sans-serif;
  font-weight: 400;
}

.service_list-item {
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 28px;
  list-style: none;
}

.service_list-item::before {
  content: ' ';
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  width: 7px;
  height: 7px;
  background: url("../img/service/Rectangle.png") no-repeat center;
  background-size: 100%;
}

.projects {
  position: relative;
}

.projects_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 70px;
}

.projects_content {
  width: 544px;
}

.projects_title {
  margin-bottom: 20px;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #B16CEA;
}

.projects_subtitle {
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 1px;
}

.projects-slider {
  position: relative;
  padding-top: 65px;
}

.projects-slider_item {
  width: 350px;
  margin: 0 20px 0;
  background-color: #fff;
}

.projects-slider_item img {
  width: 100%;
}

.projects-slider_item h3 {
  margin-top: 33px;
  margin-bottom: 17px;
  margin-left: 30px;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #3C46FF;
}

.projects-slider_item span {
  margin-bottom: 20px;
  margin-left: 30px;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
}

.projects-slider_link {
  display: block;
  margin-top: 20px;
  margin-bottom: 35px;
  margin-left: 30px;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.projects-slider_link::after {
  content: ' ';
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/arrow.png) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
  margin-left: 10px;
}

.projects-slider-btn {
  position: absolute;
  top: 500px;
  width: 54px;
  height: 54px;
  background-color: #fff;
  border: none;
}

.projects-slider-prev-btn {
  right: 160px;
}

.projects-slider-next-btn {
  right: 100px;
}

.black {
  position: absolute;
  z-index: -20;
  width: 100%;
  height: 300px;
  background-color: #000000;
  top: 530px;
}

.blogs {
  padding-top: 200px;
  padding-bottom: 145px;
  background-color: #000000;
}

.blogs_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogs_titles h3 {
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFA84B;
}

.blogs_titles h2 {
  margin-top: 16px;
  margin-bottom: 35px;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.blogs_btn {
  padding-left: 0;
}

.blogs_btn::after {
  content: ' ';
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/arrow-white.png) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
  margin-left: 20px;
}

.blogs_card {
  margin-top: 65px;
  padding-bottom: 10px;
  width: 690px;
  border-bottom: 1px solid #666666;
}

.blogs_card h3 {
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 36px;
  color: #FFFFFF;
}

.blogs_data {
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 15px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.point-white {
  color: #fff;
}

.designer {
  padding-bottom: 80px;
}

.designer_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-top: 80px;
}

.designer_titles h3 {
  margin-bottom: 15px;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FF5E69;
}

.designer_titles h2 {
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 1px;
}

.designer_text {
  font-family: 'Roboto Light', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #666666;
}

.designer_galary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.designer_col {
  display: inline-block;
  width: 338px;
}

.designer_foto-one {
  width: 338px;
}

.designer_foto-two {
  margin: 0 17px;
  width: 557px;
}

.designer_foto-three {
  margin-bottom: 16px;
}

.experience_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.education_title {
  margin-bottom: 85px;
  font-size: 36px;
  line-height: 36px;
}

.education_subtitle {
  margin-bottom: 10px;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
}

.education_block {
  position: relative;
  margin-bottom: 35px;
  padding-bottom: 40px;
  width: 570px;
  border-bottom: 1px solid #E5E5E5;
}

.education_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 21px;
  color: #666666;
}

.education_img {
  vertical-align: top;
}

.arrow-top {
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
}

.work_block {
  display: inline-block;
  margin-left: 10px;
  width: 500px;
}

.testimonial {
  padding-bottom: 50px;
}

.testimonial_subtitle {
  margin-top: 76px;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  ont-size: 22px;
  line-height: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #4353FF;
}

.testimonial_title {
  margin-top: 20px;
  margin-bottom: 85px;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 1px;
}

.testimonial_content-item {
  position: relative;
}

.testimonial_left {
  display: inline-block;
  margin-right: 145px;
  max-width: 485px;
  max-height: 450px;
}

.testimonial_right {
  position: absolute;
  display: inline-block;
  width: 550px;
  top: 30px;
  right: 100px;
}

.testimonial_text {
  margin-top: 35px;
  margin-bottom: 111px;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 47px;
}

.testimonial-btn {
  position: absolute;
  z-index: 10;
  bottom: 0px;
  width: 54px;
  height: 54px;
  background-color: #000000;
  border: none;
}

.testimonial-next {
  right: 0;
}

.testimonial-prev {
  right: 54px;
}

.testimonial_foto {
  width: 100%;
  height: 100%;
}

.author {
  margin-bottom: 5px;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
}

.place {
  font-family: 'Roboto Light', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.faq {
  padding-top: 85px;
  padding-bottom: 85px;
  background-color: #000000;
  color: #FFFFFF;
}

.faq_subtitle {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FF8A56;
}

.faq_title {
  margin-bottom: 115px;
  text-align: center;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 1px;
}

.faq_block {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  width: 570px;
  border-bottom: 0.5px solid #666666;
}

.accordion-button {
  margin-bottom: 40px;
  background-color: #000;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
}

.accordion-button:not(.collapsed) {
  background-color: #000;
}

.accordion-body {
  background-color: #000;
  border: 1px solid #000;
}

.accordion-item {
  background-color: #000;
  margin-top: 24px;
  margin-bottom: 10px;
  border-bottom: 0.5px solid #666666;
}

.accordion-button::after {
  background-image: url("../img/arrow-bottom.png");
}

.footer {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #000000;
  color: #fff;
}

.footer_title {
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 1px;
}

.footer_subtitle {
  margin-bottom: 100px;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 0.5px;
  color: #3C46FF;
}

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.adress {
  margin: 15px 0 10px;
  font-size: 16px;
  line-height: 28px;
  color: #666666;
}

.email {
  font-size: 17px;
  line-height: 36px;
  color: #5C5C5C;
}

.email::before {
  content: ' ';
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  width: 30px;
  height: 21px;
  background: url("../img/letter.png") no-repeat center;
  background-size: 100%;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
}

.links_item {
  list-style: none;
  margin-bottom: 40px;
}

.links_content {
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */